// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
$column: em(72);
$gutter: em(16);
$grid-columns: 12;
$max-width: em(960);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$laptop: em(1224);
$adjust-background-size: em(1176);
$small-desktop: em(940);
$nav-breakpoint: em(768);
$ipad-landscape: em(768);
$ipad-portrait: em(674);
$phone: em(480);
$phone-portrait: em(320);

$above-desktop: new-breakpoint(min-width $small-desktop);
$swap-nav: new-breakpoint(max-width $nav-breakpoint);

$adjust-background-size: new-breakpoint(max-width $adjust-background-size);
$ipad-landscape-down: new-breakpoint(max-width $ipad-landscape 4);
$ipad-portrait-down: new-breakpoint(max-width $ipad-portrait 4);
$phone-down: new-breakpoint(max-width $phone 1);
$phone-portrait-down: new-breakpoint(max-width $phone-portrait 1);
