// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
$column: 72px;
$gutter: 8px;
$grid-columns: 12;
$max-width: em(1280);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$laptop: em(1224);
$adjust-background-size: em(1176);
$ipad-landscape: em(768);
$ipad-portrait: em(674);
$phone: em(480);
$phone-portrait: em(320);

$adjust-background-size: new-breakpoint(max-width $adjust-background-size);
$ipad-landscape-down: new-breakpoint(max-width $ipad-landscape 4);
$ipad-portrait-down: new-breakpoint(max-width $ipad-portrait 4);
$phone-down: new-breakpoint(max-width $phone 1);
$phone-portrait-down: new-breakpoint(max-width $phone-portrait 1);
