
// TYPOGRAPHY
///////////////////////////////////////////////////
body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: 1.44em;
}

hr {
  border: none;
  height: 1px;
  background: $base-border-color;
}

hr.partial {
  width: 40px;
  margin: 1em 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  font-weight: 600;
  margin: 0.38em 0 ; //6px 0

  &.emph {
    font-family: $main-font;
    font-style: italic;
  }
}

h1 {
  font-weight: 700;
  font-size: 3em;
  line-height: 58px;
  @include media($ipad-portrait-down) {
    font-size: 2.5em;
    line-height: 48px;
  }
}

h2 {
  font-size: 2.5em;
  line-height: 49px;
  @include media($ipad-portrait-down) {
    font-size: 2em;
    line-height: 38px;
  }
}

h3 {
  font-size: 2em;
  line-height: 39px;
  @include media($ipad-portrait-down) {
    font-size: 1.5em;
    line-height: 28px;
  }
}

h4 {
  font-size: 1.13em;
  line-height: 22px;
  @include media($ipad-portrait-down) {
    font-size: 1em;
    line-height: 16px;
  }
}


h5 {
  font-size: 0.875em;
  line-height: 18px;
  color: $brown-1;
  text-transform: uppercase;

}

p {
  font-size: 1.13em;
  line-height: 1.44em;
  font-weight: 400;
  // letter-spacing: 0.005em;
  margin: 0.31em 0 1.25em; //5px 0 20px
  &.small {
    font-size: 1em; // (16)
  }
  &.med {
    font-size: 1.125em; // (18)
  }
}

.center {
  text-align: center;
}

// General Links
a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}


// Ornament Headers
.h-ornam-lines {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    background: $brown-1;
    top: 6px;
    width:40%;
    height: 1px;
  }
  &:before {
    left: 0px;
  }
  &:after {
    right: 0px;
  }
}
.h-ornam-dot {
  display: inline-block;
  position: relative;
  &:before,
  &:after {
    content: '\00B7';
    font-size: 46px;
    position: absolute;
    color: inherit;
    top: -4px;
  }
  &:before {
    left: -20px;
  }
  &:after {
    right: -20px;
  }
}


// Content Headers
header {
  &.content-header {
  margin: 1em auto 2em;
  text-align: center;
  }

  .property-title {
    color: $green-1;
  }

  .title {
    text-align: center;
    color: $orange-1;
  }
}

// // Article Content Typography
// .content-article {
//   @include clearfix;
//   text-align: left;

//   // Lists
//   ul {
//     margin: 0 auto ($base-line-height * .5);
//     li {
//       list-style-type: disc;
//       margin-left: 32px;
//       line-height: $base-line-height;
//     }
//   }
//   ol {
//     margin: 0 auto ($base-line-height * .5);
//     li {
//       list-style: decimal;
//       margin-left: 32px;
//       line-height: $base-line-height;
//     }
//   }

//   // Article Type
//   .type {
//     border-bottom: 1px solid;
//     display: inline-block;
//     font-family: $main-font;
//     font-size: .7em;
//     font-weight: 700;
//     margin-bottom: 2em;
//     padding: .3em 0;
//     text-align: left;
//     text-transform: uppercase;
//   }



//   // Links
//   a:not(.btn) {
//     font-weight: 700;
//     color:$secondary-link-color;
//     &:hover {
//       color:$secondary-link-hover-color;
//     }
//   }

//   // Paragraphs
//   p {
//     font-family: $main-font;
//     // Strong Copy
//     span {
//       font-family: $main-font;
//       font-weight: 700;
//     }
//   }
// }


// // Rule Header
// header.rule {
//     position: relative;
//     &:after {
//         position: absolute;
//         content: '';
//         height: 1px;
//         width: 100%;
//         background: $base-border-color;
//         margin-left: -60px;
//         padding-right: 120px;
//         top: 50%;
//         left: 0;
//     }
//     h1 {
//         margin-top: 0;
//         background: $white-1;
//         padding: 0 ($base-line-height / 4) 0 ($base-line-height / 4);
//         z-index: 10;
//         position: relative;
//         display: inline-block;
//     }
// }


// // Error
// .error {
//   color: #E26161;
//   margin-bottom:$base-line-height;
// }