// More Mixins
// -------------------------------------------------------

// Vertical Align
%vertical-align-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
%vertical-align-child {
    position: relative;
      top: 50%;
      transform: translateY(-50%);
}
.vertical-align-parent {
  @extend %vertical-align-parent;

  .vertical-align-child {
      @extend %vertical-align-child;
    }
}


// HEX to RGB with IE Fallback
@mixin rgba($color, $value) {
    background: $color;
    background: rgba($color, $value);
}




// Opacity Mixin with all Browser Prefixes
@mixin opacity($value) {
    -webkit-opacity:$value;
    -moz-opacity:$value;
    -o-opacity:$value;
    opacity:$value;
    filter: alpha(opacity=$value);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";

}




// Center Colums
@mixin centerColumns {
    display: block !important;
    float:none !important;
    margin: 0 auto !important;
}




// Clearfix
@mixin clearlyFixed {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}




// Full Bleed for Removing Columns
@mixin fullBleed {
    margin: auto auto;
    display: block;
    float:none;
    width: auto;
}