// MEDIA QUERIES
/////////////////////////////////////////////////////////



// LANDSCAPE
/////////////////////////////////////////////////////////
@include media($ipad-landscape-down) {


    // Paper Pull
    .paper.pull-up {
        top: -2em;
        padding:1.5em 3em;
    }

    // Ornament Headers
    .h-ornam-lines {
        &:before {
            left: 0px;
            width: 100%;
            top: -7px;
        }
        &:after {
            right: 0px;
            top: 24px;
            width: 100%;
        }
    }

    // Vertical Align
    .vertical-align-parent {
        height: 100% !important;
        min-height: 320px !important;
        .vertical-align-child {
            transform: none !important;
            padding: 3em .5em 2em !important;
        }
    }

}


// PORTRAIT
/////////////////////////////////////////////////////////
@include media($ipad-portrait-down) {
    // General Layout
    main {
        padding-top: 1em;
    }

    #browse-good-space {
        margin-top: -1em;
    }
    #browse-commercial header, #browse-residential header {
        margin: -42px auto;
        margin-left: -40%;
    }
    .vertical-align-parent .vertical-align-child {
       @include fullBleed;
    }
    // Full Grid
    .col-one,
    .col-two,
    .col-three,
    .col-four,
    .col-five,
    .col-six,
    .col-seven,
    .col-eight,
    .col-nine,
    .col-ten,
    .col-eleven,
    .col-twelve {
        @include fullBleed;
    }

    // Utility Hide/Show
    .hide-on-tablet {
        display: none !important;
    }
    .show-on-tablet {
        display: inherit !important;
    }



    // Callout
    .callout {
        .callout-content,
        .callout-header {
            width: auto;
            float:none;
            min-height: inherit;
            .callout-inner {
                padding: 2em 1.5em 2em;
            }
        }
    }

}

// Phone (480)
/////////////////////////////////////////////////////////
@include media($phone-down) {
    .line-break {display: inline-block;}
    // 3 Across
    .col-3-across .col-item {
        @include fullBleed;
        margin: 0 auto 32px !important;
    }

    // 4 Across
    .col-4-across .col-item {
        @include fullBleed;
        margin: 0 auto 32px !important;
    }

    // Footer Col
    .footer-col {
        @include fullBleed;
    }
}


// Phone (320)
/////////////////////////////////////////////////////////
@include media($phone-portrait-down) {

}