
// Colors
///////////////////////////////////////////////////////////////////////////////
$green-1                         :                       #87a48f;


// Hide Content Fast, prevent FUOC before JS loads
#site-header,
#site-content,
#site-footer {
    @include transition(opacity 300ms ease-in);
}

html.opacity {
    #site-header,
    #site-content,
    #site-content img {
        @include opacity(0);
    }
}

html.opacity body.run {
    #site-header,
    #site-content,
    #site-footer,
    #site-content img  {
        @include opacity(1);
    }
}

// Pace
.pace .pace-progress {
  background: $green-1;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}