!!! 5
%html.no-js{:lang => "en"}

    %head

        %meta{:charset => "utf-8", :"http-equiv"=>"Content-Type", :content=>"text/html"}

        %title GoodSpace
        %meta{:name => "description", :content => ""}
        %meta{:name => "keywords", :content => ""}
        %meta{:name => "author", :content => ""}

        -# Mobile
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

        -# Typekit
        %script{:src => "//use.typekit.net/pyj4pti.js"}
        %script
            try{Typekit.load();}catch(e){}

        -# Favicon
        / %link{:href => "../img/icons/favicon.ico", :rel => "shortcut icon"}

        -# CSS
        %link{:rel => "stylesheet", :href => "../css/app.css"}



        -# Modernizr
        %script{:src => "../js/min/modernizr.min.js"}

        -# IE LT 9
        <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="../css/ie8.css" /><script src='../js/min/ie.min.js'></script><![endif]-->


    %body.init

        %header#site-header{:role => "navigation"}
            .outer-bounds

                %a#company-logo{:href => ""}
                    %img{:src => "../img/logos/logo_440x80.jpg", :alt => ""}/
                    %span GoodSpace
                #site-nav-wrap
                    %nav#site-nav
                        %li
                            %a.active{:href => "#"}
                                Commercial
                                %span
                                    Properties
                        %li
                            %a{:href => "#"}
                                Residential
                                %span
                                    Properties
                        %li
                            %a{:href => "#"}
                                About
                                %span
                                    Contact & Info
                        %li
                            %a{:href => "#"}
                                Neighborhood
                                %span
                                    History & Map


        %main#site-content{:role => "main"}

            .outer-bounds#neighborhood-map
                .content-row
                    %header.content-header
                        %h5.left
                            Filter Map
                .content-row
                    .col-six
                        %a.active.full-width.btn.btn-secondary{:href => "#"}
                            Commercial

                    .col-six
                        %a.full-width.btn.btn-secondary{:href => "#"}
                            Residential
                %br/

                #map



                %br/
                %br/


                %section#properties.content-row
                    %header.content-header
                        %h5.h-ornam-lines
                            Commercial
                    %ul.col-3-across
                        %li.col-item
                            %img{:src => "http://placehold.it/400x260", :'data-src' => "http://placehold.it/400x260", :alt => ""}/
                            %header
                                %h4.property-title Our Bishop Arts Building &#187;
                            %article
                                %span.property-address 404 W. Eigth St.
                                %br/
                                %span.property-type Business Suites & Loft Apartments
                                %br/
                                %span.property-price-range from $725

                        %li.col-item
                            %img{:src => "http://placehold.it/400x260", :'data-src' => "http://placehold.it/400x260", :alt => ""}/
                            %header
                                %h4.property-title Our Bishop Arts Building &#187;
                            %article
                                %span.property-address 404 W. Eigth St.
                                %br/
                                %span.property-type Business Suites & Loft Apartments
                                %br/
                                %span.property-price-range from $725

                        %li.col-item
                            %img{:src => "http://placehold.it/400x260", :'data-src' => "http://placehold.it/400x260", :alt => ""}/
                            %header
                                %h4.property-title Our Bishop Arts Building &#187;
                            %article
                                %span.property-address 404 W. Eigth St.
                                %br/
                                %span.property-type Business Suites & Loft Apartments
                                %br/
                                %span.property-price-range from $725



        %footer#site-footer{:role => "contentinfo"}
            .outer-bounds

                .col-four
                    %header
                        %h4 Contact
                    %ul
                        %li.phone
                            Phone:
                            %a{:href => "#"} 214.942.0690
                        %li.fax
                            Fax:
                            %a{:href => "#"} 214.942.0635
                        %li.email
                            Email:
                            %a{:href => "#"} info@goodspace.com

                        %span.line-break

                        %li
                            %em
                                Office Hours
                            %br/
                            M-F: 9am-5pm

                .col-four
                    %header
                        %h4 Location
                    %ul#address
                        %li.street
                            408 W 8th St Ste 103
                        %li.city
                            Dallas, TX 75208
                        %li.district
                            %em
                                Bishop Arts District, Oak Cliff

                        %span.line-break
                            %a{:href => "#"} View Google Maps

                .col-four
                    %header
                        %a.facebook{:href => "#", :'data-icon'=>'d'}
                    %hr/
                    %em.copyright
                        &copy; Copyright 2014 Good Space, Inc.
                        %br/
                        All Rights Reserved.





        -# Scripts
        %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
        // window.jQuery || document.write('<script src="../js/min/jquery.min.js"><\/script>')

        %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"}
        %script
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);

            function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 11,

            // The latitude and longitude to center the map (always required)
            center: new google.maps.LatLng(40.6700, -73.9400), // New York

            // How you would like to style the map.
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{featureType:"landscape",stylers:[{saturation:-100},{lightness:65},{visibility:"on"}]},{featureType:"poi",stylers:[{saturation:-100},{lightness:51},{visibility:"simplified"}]},{featureType:"road.highway",stylers:[{saturation:-100},{visibility:"simplified"}]},{featureType:"road.arterial",stylers:[{saturation:-100},{lightness:30},{visibility:"on"}]},{featureType:"road.local",stylers:[{saturation:-100},{lightness:40},{visibility:"on"}]},{featureType:"transit",stylers:[{saturation:-100},{visibility:"simplified"}]},{featureType:"administrative.province",stylers:[{visibility:"off"}]/**/},{featureType:"administrative.locality",stylers:[{visibility:"off"}]},{featureType:"administrative.neighborhood",stylers:[{visibility:"on"}]/**/},{featureType:"water",elementType:"labels",stylers:[{visibility:"on"},{lightness:-25},{saturation:-100}]},{featureType:"water",elementType:"geometry",stylers:[{hue:"#ffff00"},{lightness:-25},{saturation:-97}]}]
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('map');

            // Create the Google Map using out element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);
            }


        %script{:src => "../js/min/sitescripts.min.js"}
        %script{:src => "../js/min/app.min.js"}


        -# Google Analytics
            %script
                var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));





