

$nav-height: 100px;

// Structure: General
///////////////////////////////////////////////////
html {
    background: $base-body-color ;
}

html, body {
    height: 100%;
}

.content-row {
    @include row();
}

.outer-bounds {
    @include outer-container();
    @include clearfix;
    padding: 0 $gutter;
}
main {
    background: $white-3;
    padding-bottom: 2.5em;
    padding-top: 3.5em;
}

.footer-col {
    @include span-columns(4);
}

.col-3-across .col-item {
    p {
        @extend p.small;
        text-align: center;
    }
    img {
        @include transition(opacity 300ms ease-in-out);
        @include backface-visibility(hidden);
        &:hover {
            @include opacity(.8 !important);
        }
    }
}
