

///////////////////////////////////////////////////


#site-header {
    position: relative;
    z-index: 1000;
    width:100%;
    height: $navbarHeight;
    overflow: hidden;
    @include transition(
                        opacity 300ms ease-in-out,
                        background 300ms ease-in-out
                        );

    // Logo
    #company-logo {
        float: left;
        display: block;
        width: 160px;
        line-height: 120px;

        span {
            position: absolute;
            left: -9999px;
        }
    }


    // Nav
    #site-nav-wrap {
        float:right;
        display: inline-block;
        @include clearfix;
    }
    nav#site-nav {
        float:right;
        display: inline-block;

        li {
            display: inline-block;
            margin: 32px 16px 0;
            &:last-child {
                margin-right: 0px;
            }
        }
        a {
            font-family: $aux-font;
            color: $brown-3;
            vertical-align: middle;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 0.08em;
            font-size: .875em;
            line-height: 2.5em;
            text-align: left;
            &,span {
                @include transition(color 300ms ease-in-out);
            }

            span {
                color:$brown-5;
                // padding: $navbarLinkPadding;
                display: block;
                font-style: italic;
                font-family: $main-font;
                line-height: 0;
                text-transform: capitalize;
                font-weight: 400;

            }

            &.active,
            &:hover {
                color: $green-1;
                span {
                    color: $orange-1;
                }
            }
        }
    }

    // Breakpoint - Above small desktop/tablet
    @include media($above-desktop) {
        #company-logo {
            width: 220px;
            line-height: 140px;
        }

        nav#site-nav a {
            font-size: 1em;
        }
    }

    // Breakpoint - Swap Nav
    @include media($swap-nav) {
        & {
            height: auto;
            #company-logo {
                line-height: 68px;
                padding: 0px 0 0 8px;
                img {
                    position: relative;
                    top: 7px;
                }
            }
        }
        #site-nav-wrap {
            float: none;
            width:100%;
            display: block;
        }

        nav#site-nav {
            display: none;
        }
    }
}


