

$nav-height: 100px;

// Structure: General
///////////////////////////////////////////////////
html {
    background: $base-body-color ;
}

html, body {
    height: 100%;
}

.content-row {
    @include row();
}

.outer-bounds {
    @include outer-container();
    padding: 0 $gutter;
}

.inner-bounds {
    @include span-columns(10);
    @include centerColumns;
    clear: both;
}

.content-container {
    @include span-columns(7);
    @include centerColumns;
}

main {
    background: $white-3;
    padding-bottom: 2.5em;
    padding-top: 3.5em;
}

// Animations: General
///////////////////////////////////////////////////
.col-3-across .col-item img {
    @include transition(opacity 300ms ease-in-out);
    @include backface-visibility(hidden);
    &:hover {
        @include opacity(.8 !important);
    }
}